.Codeureka {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;  
}

.Codeureka {
    width: 20%;
    border-bottom: 5px solid white;
    overflow: hidden;
    animation: animate 2s linear forwards;
    font-size: 50px;
}


@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
    }
    30% {
        width: 50px;
        height: 0px;
    }
    60% {
        width: 50px;
        height: 80px;
    }
}

@media only screen and (max-width: 1300px) {
    /* For mobile phones: */
    .Codeureka {
        width: 100%;
        animation: none;
        overflow: visible;
        border-bottom: 0pc;
    }
}